*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d6d6cd;
  display: flex;
  justify-content: center;
  align-items: center;
}


.calc-body {
  margin: 0;
box-sizing: border-box;
width: 380px;
height: 500px;
background-color: grey;
position: absolute;
top: 50%;
transform: translateY(-50%);
border-radius: 22px;
box-shadow: inset 1px -7px 20px #111, 0px 18px 10px -13px #111; 
}

.calc-display {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.3rem;
  color: rgb(80, 79, 79);
  width: 320px;
  height: 70px;
  padding-top: 10px;
  padding-right: 18px;
  background-color: #B4c5b4;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
  text-align: end;
  border-style: none;
border-width: 1.7px;
box-shadow: inset 3px -2.5px 9px rgb(73, 73, 73);
}

.clear-delete {
  width: 320px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

#clear {
background-color: salmon;
border-radius: 6px;
text-align: center;
font-family: 'Orbitron', sans-serif;
padding-top: 10%;
letter-spacing: .1rem;
box-shadow: inset -.5px -2.5px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
}

#delete {
  background-color: #aaf;
  border-radius: 6px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  padding-top: 10%;
  letter-spacing: .1rem;
  box-shadow: inset -.5px -2.5px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
}

.grid-container {
  width: 320px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 8px;
}

.button {
  background-color: #d6d6cd;
  border-radius: 10px;
  box-shadow: inset -.5px -2.2px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 15%;
}

#equals {
  background-color: rgb(253, 188, 67);
  color: white;
  font-size: 2rem;
 padding-top: 3%;
}

#add {
  font-size: 2rem;
  padding-top: 3%;
}

#subtract {
  font-size: 2rem;
  padding-top: 3%;
}