*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d6d6cd;
  display: flex;
  justify-content: center;
  align-items: center;
}


.calc-body {
  margin: 0;
box-sizing: border-box;
width: 380px;
height: 500px;
background-color: grey;
position: absolute;
top: 50%;
transform: translateY(-50%);
border-radius: 22px;
box-shadow: inset .6px -7px 20px rgba(0, 0, 0, .9), 0px 20px 10px -13px #111; 
}

.calc-display {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.3rem;
  color: rgb(80, 79, 79);
  width: 320px;
  height: 70px;
  padding-top: 10px;
  padding-right: 18px;
  background-color: #B4c5b4;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
  text-align: end;
  border-style: none;
border-width: 1.7px;
box-shadow: inset 2.5px -1.5px 9px rgb(73, 73, 73);
user-select: none;
}

.clear-delete {
  width: 320px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

#clear {
background-color: salmon;
border-radius: 6px;
text-align: center;
font-family: 'Orbitron', sans-serif;
padding-top: 10%;
letter-spacing: .1rem;
box-shadow: inset -.5px -2.5px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
cursor: pointer;
}

#delete {
  background-color: #aaf;
  border-radius: 6px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  padding-top: 10%;
  letter-spacing: .1rem;
  box-shadow: inset -.5px -2.5px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.grid-container {
  width: 320px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 8px;
}

.button {
  background-color: #d6d6cd;
  border-radius: 10px;
  box-shadow: inset -.5px -2.2px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 15%;
  cursor: pointer;
}

.button-operator {
  background-color: #d6d6cd;
  border-radius: 10px;
  box-shadow: inset -.5px -2.2px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 15%;
  cursor: pointer;
}

#equals {
  background-color: rgb(253, 188, 67);
  color: white;
  font-size: 2rem;
 padding-top: 3%;
}

#add {
  font-size: 2rem;
  padding-top: 3%;
}

#subtract {
  font-size: 2rem;
  padding-top: 3%;
}

#decimal {
  background-color: #d6d6cd;
  border-radius: 10px;
  box-shadow: inset -.5px -2.2px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 2rem; 
  cursor: pointer;
}

/*BUTTONS ON CLICK  SECTION*/

#clear-active {
  background-color: salmon;
  border-radius: 6px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  padding-top: 11.1%;
  letter-spacing: .1rem;
  box-shadow: inset -.5px 0.1px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  }

 #delete-active {
   background-color: #aaf;
    border-radius: 6px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    padding-top: 11.1%;
    letter-spacing: .1rem;
    box-shadow: inset -.5px 0.1px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    }

.active-button {
  background-color: blue;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 16.3%;
  background-color: #d6d6cd;
  box-shadow: inset -.5px 0.3px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#active-id {
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 4.6%;
  background-color: #d6d6cd;
  box-shadow: inset -.5px 0.3px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#equals-active {
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 4.3%;
  background-color: rgb(253, 188, 67);
  color: white;
  box-shadow: inset -.5px 0.3px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
/*BUTTONS ON CLICK - END*/

/* HOVERS - */
.button:hover {
  box-shadow: inset -.5px -1.6px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  padding-top: 15.5%;
}

.button-operator:hover {
  box-shadow: inset -.5px -1.6px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  padding-top: 16%;
}

#add:hover {
  box-shadow: inset -.5px -1.6px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  padding-top: 3.6%;
}

#subtract:hover {
  box-shadow: inset -.5px -1.6px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  padding-top: 3.6%;
}

#equals:hover {
  box-shadow: inset -.5px -1.6px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  padding-top: 3.6%;
}

#delete:hover {
  box-shadow: inset -.5px -1.8px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  padding-top: 10.3%;
}

#clear:hover {
  box-shadow: inset -.5px -1.8px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  padding-top: 10.3%;
}

#decimal:hover {
  box-shadow: inset -.5px -1.8px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  padding-top: .5%;
}
/* HOVERS - End*/

/* Media Queries */
@media (max-width: 600px) {
  .calc-body {
  width: 280px;
  height: 400px;
  }

  .calc-display {
    font-size: 1.7rem;
    width: 245px;
    height: 52px;
  box-shadow: inset 2.5px -1.5px 9px rgb(73, 73, 73);
  padding-right: 15px;
  border-radius: 16px;
  padding-top: 6.5px;
  margin-top: 8.3%;
  }

  .clear-delete {
    width: 240px;
    height: 45px;
    margin-top: 6.4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 13.5px;
  }

  .grid-container {
    width: 245px;
    height: 210px;
    margin-top: 6%;
    row-gap: 13px;
    column-gap: 6px;
  }

  .button {
    font-size: 1rem;
    padding-top: 15%;
    box-shadow: inset -.5px -1.2px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
  }

  .button-operator {
    background-color: #d6d6cd;
    border-radius: 10px;
    box-shadow: inset -.5px -1.2px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 1rem;
    padding-top: 15%;
  }

  #equals {
    background-color: rgb(253, 188, 67);
    color: white;
    font-size: 1.6rem;
   padding-top: 3%;
  }
  
  #add {
    font-size: 1.5rem;
    padding-top: 4.2%;
  }

  #subtract {
    font-size: 1.6rem;
    padding-top: 3%;
  }
  
  #decimal {
    font-size: 1.6rem; 
  }

  #clear {
    background-color: salmon;
    border-radius: 6px;
    padding-top: 10%;
    letter-spacing: .1rem;
    box-shadow: inset -.5px -1.7px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: .8rem;
    }
    
    #delete {
      border-radius: 6px;
      padding-top: 10%;
      letter-spacing: .1rem;
      box-shadow: inset -.5px -1.7px 5px 1px rgba(0, 0, 0, .65), inset .6px -.8px 2px .1px rgba(0, 0, 0, 0.4);
      font-size: .8rem;
    }

    .instruction {
      font-size: 1.2rem;
      margin-top: 20%;
    }
}

/* --------    */

@media (min-width: 2000px) {
  .calc-body {
  width: 480px;
  height: 600px;
  }

  .calc-display {
    font-size: 2.5rem;
    width: 400px;
    height: 80px;
  box-shadow: inset 2.5px -1.5px 9px rgb(73, 73, 73);
  padding-right: 15px;
  border-radius: 16px;
  padding-top: 12px;
  margin-top: 8.3%;
  }

  .clear-delete {
    width: 400px;
    height: 70px;
    margin-top: 6.4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 13.5px;
  }

  .grid-container {
    width: 400px;
    height: 300px;
    margin-top: 6%;
    row-gap: 18px;
    column-gap: 8px;
  }
}

/* Media Queries -END*/